:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.navbarAside .nav-link{
  font-size: 14px !important;
  color: #333 !important;
}
.navbarAside .nav{
  flex-wrap: nowrap !important;
}
.navbarAside a svg{
  color: #495584 !important;
  font-size: 18px !important;
}
.navbarAside a span{
  color: #333 !important;
  font-size: 14px !important;
}
input, input:focus, input:active, input::selection{
  background-color: #fff !important;
  border: solid 1px #333333c2 !important;
  border-radius: 5px !important;
  padding: 5px 10px !important;
  color: #333 !important;
  font-size: 14px !important;
}
.loginButton{
  background-color: #683ab7;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
}

input{
  font-size: 14px;
  background-color: transparent;
  color: #333;
}


/* styles for hide dropdown icon */
.no-caret .dropdown-toggle::after {
  display: none !important;
}




/* Style for the custom checkbox */
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #f4f4f4 !important;
  border: 1px solid #ccc !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-checkbox input:checked + .checkbox-mark {
  background-color: #4caf50;
  border-color: #4caf50;
}

.custom-checkbox .checkbox-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #fff !important;
  transition: background-color 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-mark::before {
  content: '✔';
  position: absolute;
  top: -2px;
  left: 1px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}


th{
  font-size: 14px;
  font-weight: 500;
  background-color: #dee2e6 !important;
  text-align: center !important;
}
tbody tr td{
  font-size: 14px;
  font-weight: 400;
}
td #dropdown-basic-button {
  background-color: transparent !important;
  color: #333 !important;
  padding: 0px !important;
  border: none !important;
  display: flex !important;
  align-self: center !important;
  justify-self: center !important;
}
tbody tr td{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}


.custom-icon-button{
  background-color: transparent;
  border: none;
  outline: none;
}